### Oscar awards dataset

In [1]:
#Pandas
import pandas as pd
#Postgres user and password
from password import postgres_user,postgres_pwd
# SQL Alchemy
from sqlalchemy import create_engine

In [2]:
# Read the CSV file with required columns
df = pd.read_csv('Oscars-demographics-DFE.csv',engine='python',
    usecols=['birthplace','date_of_birth','year_of_award','award','movie','person','biourl'])

In [3]:
# Re-order the columns
df = df[['movie','person','award','year_of_award','birthplace','date_of_birth','biourl']]

In [4]:
# Change the column names to uppercase and replace '_' with ''
df.columns = [column.lower().replace('_','') for column in df.columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie        441 non-null    object
 1   person       441 non-null    object
 2   award        441 non-null    object
 3   yearofaward  441 non-null    int64
 4   birthplace   441 non-null    object
 5   dateofbirth  441 non-null    object
 6   biourl       441 non-null    object
dtypes: int64(1), object(6)
memory usage: 24.2+ KB

In [6]:
# Extract the first name and the last names from the Person column
df['firstname'] = df.person.str.split(n=1,expand=True)[0]
df['lastname'] = df.person.str.split(n=1,expand=True)[1]

In [7]:
# Remove [] from the Date
df.loc[54,'dateofbirth'] = '18-Aug-1936'

In [8]:
# The date only had the year. So, adding 01-Jan
df.loc[84,'dateofbirth'] = '01-Jan-1972'

In [9]:
# Extracting Birth Year from the Date
df['birthyear'] = df['dateofbirth'].str.split('-',expand=True)[2]

In [10]:
# Some dates have 2-digit years. Appending '19' to make it 4 digits
df['birthyear'] = df['birthyear'].apply(lambda x: '19'+ x if len(x)==2 else x)

In [11]:
# Get the country from the BirthPlace
df['birthcountry'] = df.birthplace.str.split(',').apply(lambda x:x[-1])

In [12]:
# In some rows we have US state names. Change the name of the country to United States
df['birthcountry'] = df['birthcountry'].apply(lambda x: "United States of America" if len(x.strip()) == 2 else x.strip())

In [13]:
# Replace Country Values as below for ISO code matching
df['birthcountry'].replace(to_replace='New York City',value='United States of America',inplace=True)
df['birthcountry'].replace(to_replace=['Scotland','England','Wales'],value='United Kingdom',inplace=True)
df['birthcountry'].replace(to_replace=['Czechoslovakia'],value='Czechia',inplace=True)

In [15]:
# Selecting the required columns to create oscar_df
oscar_df = df[['movie','firstname','lastname','award','yearofaward','birthcountry','birthyear','biourl']]

### Wikipedia Country name and iso2Code

In [19]:
url = 'https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2'

In [20]:
# The 3rd element in the list of DFs is the table that is required for the ISO Code
df = pd.read_html(url)[2]

In [21]:
# Dropping unwanted columns
df = df[['Country name (using title case)','Code']]

In [22]:
# Change column names
df.columns = ['country','code']

In [23]:
# Replacing values of some countries to match the Oscar DF
df.loc[df.country.str.contains('Moldova')==True,'country'] = 'Moldova'
df.loc[df.country.str.contains('Taiwan')==True,'country'] = 'Taiwan'
df.loc[df.country.str.contains('Russia')==True,'country'] = 'Russia'
df.loc[df.country.str.contains('United Kingdom')==True,'country'] = 'United Kingdom'

In [24]:
# Add row for Canary Islands
df = df.append({'country':'Canary Islands','code':'IC'},ignore_index=True)

In [46]:
# Create wiki_df Dataframe
wiki_df = df.copy()

### Country Code API

In [26]:
import requests

In [27]:
base_url = 'http://api.worldbank.org/v2/country/'

In [28]:
region=[]
incomelevels=[]
capitals=[]
codes = []

In [29]:
# Call the Country code API to fetch region.incomelevel and capitalcity
for code in list(wiki_df.code):
    url = f'{base_url}{code}?format=json'
    response = requests.get(url).json()
    
    try:
        region.append(response[1][0]['region']['value'])
        incomelevels.append(response[1][0]['incomeLevel']['value'])
        capitals.append(response[1][0]['capitalCity'])
        codes.append(code)
    except:
        continue

In [30]:
# Create Country DataFrame
country_df = pd.DataFrame({
    'countrycode':codes,
    'region':region,
    'incomelevel':incomelevels,
    'capital':capitals
})

### Insert into Postgres database

In [53]:
#Create Engine
engine = create_engine(f'postgresql://{postgres_user}:{postgres_pwd}@localhost/oscar_db')

In [54]:
# Insert into country_codes table
wiki_df.to_sql(name='country_codes',con=engine,if_exists='append',index=False)

In [55]:
# Insert into oscar_awards table
oscar_df.to_sql(name='oscar_awards',con=engine,if_exists='append',index=False)

In [56]:
country_df.to_sql(name='country_details',con=engine,if_exists='append',index=False)